-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tectona_residence
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agens`
--

DROP TABLE IF EXISTS `agens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_agen` varchar(255) NOT NULL,
  `nama_agen` varchar(255) NOT NULL,
  `no_hp` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `komisi_persen` decimal(5,2) DEFAULT NULL,
  `komisi_nominal` decimal(15,2) DEFAULT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `agens_kode_agen_unique` (`kode_agen`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agens`
--

LOCK TABLES `agens` WRITE;
/*!40000 ALTER TABLE `agens` DISABLE KEYS */;
INSERT INTO `agens` VALUES (1,'AG-001','yaa','567890','khaliszaldifr07@gmail.com',NULL,1000000.00,1,NULL,'2026-10-01 14:29:33','2026-10-07 05:24:43'),(2,'AG-002','zize','082127440877',NULL,NULL,1000000.00,1,NULL,'2026-10-07 05:31:26','2026-10-07 05:31:26');
/*!40000 ALTER TABLE `agens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alokasi_kas`
--

DROP TABLE IF EXISTS `alokasi_kas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alokasi_kas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kas_transaksi_id` bigint(20) unsigned DEFAULT NULL,
  `pembatalan_id` bigint(20) unsigned DEFAULT NULL,
  `pos` enum('tanah','legal_infra','marketing','cadangan','operasional') NOT NULL,
  `persen` decimal(5,2) NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `alokasi_kas_kas_transaksi_id_pos_unique` (`kas_transaksi_id`,`pos`),
  KEY `alokasi_kas_pembatalan_id_foreign` (`pembatalan_id`),
  CONSTRAINT `alokasi_kas_kas_transaksi_id_foreign` FOREIGN KEY (`kas_transaksi_id`) REFERENCES `kas_transaksis` (`id`) ON DELETE CASCADE,
  CONSTRAINT `alokasi_kas_pembatalan_id_foreign` FOREIGN KEY (`pembatalan_id`) REFERENCES `pembatalan_transaksis` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alokasi_kas`
--

LOCK TABLES `alokasi_kas` WRITE;
/*!40000 ALTER TABLE `alokasi_kas` DISABLE KEYS */;
/*!40000 ALTER TABLE `alokasi_kas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checklist_legals`
--

DROP TABLE IF EXISTS `checklist_legals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `checklist_legals` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `transaksi_id` bigint(20) unsigned NOT NULL,
  `reservasi_status` enum('belum','proses','selesai') NOT NULL DEFAULT 'belum',
  `reservasi_tanggal` date DEFAULT NULL,
  `spk_status` enum('belum','proses','selesai') NOT NULL DEFAULT 'belum',
  `spk_tanggal` date DEFAULT NULL,
  `ppjb_status` enum('belum','proses','selesai') NOT NULL DEFAULT 'belum',
  `ppjb_tanggal` date DEFAULT NULL,
  `ajb_status` enum('belum','proses','selesai') NOT NULL DEFAULT 'belum',
  `ajb_tanggal` date DEFAULT NULL,
  `nomor_spk` varchar(255) DEFAULT NULL,
  `nomor_ppjb` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `checklist_legals_transaksi_id_unique` (`transaksi_id`),
  UNIQUE KEY `checklist_legals_nomor_spk_unique` (`nomor_spk`),
  UNIQUE KEY `checklist_legals_nomor_ppjb_unique` (`nomor_ppjb`),
  CONSTRAINT `checklist_legals_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checklist_legals`
--

LOCK TABLES `checklist_legals` WRITE;
/*!40000 ALTER TABLE `checklist_legals` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklist_legals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_angsurans`
--

DROP TABLE IF EXISTS `jadwal_angsurans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jadwal_angsurans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `transaksi_id` bigint(20) unsigned NOT NULL,
  `ke` smallint(5) unsigned NOT NULL,
  `jatuh_tempo` date NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `jadwal_angsurans_transaksi_id_ke_unique` (`transaksi_id`,`ke`),
  KEY `jadwal_angsurans_jatuh_tempo_index` (`jatuh_tempo`),
  CONSTRAINT `jadwal_angsurans_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_angsurans`
--

LOCK TABLES `jadwal_angsurans` WRITE;
/*!40000 ALTER TABLE `jadwal_angsurans` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwal_angsurans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas_transaksis`
--

DROP TABLE IF EXISTS `kas_transaksis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas_transaksis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `kode` varchar(255) NOT NULL,
  `kategori` varchar(255) NOT NULL,
  `pos` enum('tanah','legal_infra','marketing','cadangan','operasional') DEFAULT NULL,
  `rab_id` bigint(20) unsigned DEFAULT NULL,
  `jenis` enum('masuk','keluar') NOT NULL,
  `asal` varchar(20) NOT NULL DEFAULT 'manual',
  `pembayaran_id` bigint(20) unsigned DEFAULT NULL,
  `transaksi_id` bigint(20) unsigned DEFAULT NULL,
  `komisi_pembayaran_id` bigint(20) unsigned DEFAULT NULL,
  `pembayaran_tanah_id` bigint(20) unsigned DEFAULT NULL,
  `uraian` varchar(255) NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `sumber` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kas_transaksis_kode_unique` (`kode`),
  UNIQUE KEY `kas_transaksis_pembayaran_id_unique` (`pembayaran_id`),
  UNIQUE KEY `kas_transaksis_komisi_pembayaran_id_unique` (`komisi_pembayaran_id`),
  UNIQUE KEY `kas_transaksis_pembayaran_tanah_id_unique` (`pembayaran_tanah_id`),
  KEY `kas_transaksis_transaksi_id_foreign` (`transaksi_id`),
  KEY `kas_transaksis_jenis_tanggal_index` (`jenis`,`tanggal`),
  KEY `kas_transaksis_rab_id_foreign` (`rab_id`),
  CONSTRAINT `kas_transaksis_komisi_pembayaran_id_foreign` FOREIGN KEY (`komisi_pembayaran_id`) REFERENCES `komisi_pembayarans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kas_transaksis_pembayaran_id_foreign` FOREIGN KEY (`pembayaran_id`) REFERENCES `pembayarans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kas_transaksis_pembayaran_tanah_id_foreign` FOREIGN KEY (`pembayaran_tanah_id`) REFERENCES `pembayaran_tanahs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kas_transaksis_rab_id_foreign` FOREIGN KEY (`rab_id`) REFERENCES `rabs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `kas_transaksis_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas_transaksis`
--

LOCK TABLES `kas_transaksis` WRITE;
/*!40000 ALTER TABLE `kas_transaksis` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas_transaksis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kavlings`
--

DROP TABLE IF EXISTS `kavlings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kavlings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_kavling` varchar(255) NOT NULL,
  `blok` varchar(255) NOT NULL,
  `no` varchar(255) NOT NULL,
  `tipe` varchar(255) DEFAULT NULL,
  `skema_harga_id` bigint(20) unsigned DEFAULT NULL,
  `ukuran` varchar(255) DEFAULT NULL,
  `luas` decimal(10,2) DEFAULT NULL,
  `harga_per_m2` decimal(15,2) DEFAULT NULL,
  `harga_jual` decimal(15,2) DEFAULT NULL,
  `status` enum('tersedia','reservasi','booking','dp','lunas','terjual') NOT NULL DEFAULT 'tersedia',
  `catatan` text DEFAULT NULL,
  `batas_utara` varchar(150) DEFAULT NULL,
  `batas_selatan` varchar(150) DEFAULT NULL,
  `batas_timur` varchar(150) DEFAULT NULL,
  `batas_barat` varchar(150) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kavlings_kode_kavling_unique` (`kode_kavling`),
  KEY `kavlings_skema_harga_id_foreign` (`skema_harga_id`),
  CONSTRAINT `kavlings_skema_harga_id_foreign` FOREIGN KEY (`skema_harga_id`) REFERENCES `skema_hargas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kavlings`
--

LOCK TABLES `kavlings` WRITE;
/*!40000 ALTER TABLE `kavlings` DISABLE KEYS */;
/*!40000 ALTER TABLE `kavlings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komisi_pembayarans`
--

DROP TABLE IF EXISTS `komisi_pembayarans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `komisi_pembayarans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `agen_id` bigint(20) unsigned NOT NULL,
  `transaksi_id` bigint(20) unsigned DEFAULT NULL,
  `tanggal` date NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `metode` enum('tunai','transfer') NOT NULL DEFAULT 'transfer',
  `catatan` text DEFAULT NULL,
  `dibuat_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `komisi_pembayarans_agen_id_foreign` (`agen_id`),
  KEY `komisi_pembayarans_transaksi_id_foreign` (`transaksi_id`),
  KEY `komisi_pembayarans_dibuat_oleh_foreign` (`dibuat_oleh`),
  CONSTRAINT `komisi_pembayarans_agen_id_foreign` FOREIGN KEY (`agen_id`) REFERENCES `agens` (`id`),
  CONSTRAINT `komisi_pembayarans_dibuat_oleh_foreign` FOREIGN KEY (`dibuat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `komisi_pembayarans_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komisi_pembayarans`
--

LOCK TABLES `komisi_pembayarans` WRITE;
/*!40000 ALTER TABLE `komisi_pembayarans` DISABLE KEYS */;
/*!40000 ALTER TABLE `komisi_pembayarans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `konsumens`
--

DROP TABLE IF EXISTS `konsumens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `konsumens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_konsumen` varchar(255) NOT NULL,
  `nama_lengkap` varchar(255) NOT NULL,
  `label` varchar(255) DEFAULT NULL,
  `nik` varchar(16) NOT NULL,
  `no_hp` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `alamat` text NOT NULL,
  `pekerjaan` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `konsumens_id_konsumen_unique` (`id_konsumen`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konsumens`
--

LOCK TABLES `konsumens` WRITE;
/*!40000 ALTER TABLE `konsumens` DISABLE KEYS */;
/*!40000 ALTER TABLE `konsumens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_riwayats`
--

DROP TABLE IF EXISTS `lead_riwayats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lead_riwayats` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_id` bigint(20) unsigned NOT NULL,
  `dari` varchar(20) DEFAULT NULL,
  `ke` varchar(20) NOT NULL,
  `tanggal` date NOT NULL,
  `catatan` text DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lead_riwayats_lead_id_foreign` (`lead_id`),
  KEY `lead_riwayats_user_id_foreign` (`user_id`),
  CONSTRAINT `lead_riwayats_lead_id_foreign` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lead_riwayats_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_riwayats`
--

LOCK TABLES `lead_riwayats` WRITE;
/*!40000 ALTER TABLE `lead_riwayats` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_riwayats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads`
--

DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leads` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(255) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `domisili` varchar(255) DEFAULT NULL,
  `sumber` enum('internet','flyer','penawaran_langsung','kenalan') NOT NULL,
  `tahap` enum('lead','prospek','closing') NOT NULL DEFAULT 'lead',
  `tanggal_lead` date NOT NULL,
  `tanggal_prospek` date DEFAULT NULL,
  `tanggal_closing` date DEFAULT NULL,
  `agen_id` bigint(20) unsigned NOT NULL,
  `diinput_oleh` bigint(20) unsigned DEFAULT NULL,
  `kavling_minat_id` bigint(20) unsigned DEFAULT NULL,
  `transaksi_id` bigint(20) unsigned DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `leads_kode_unique` (`kode`),
  UNIQUE KEY `leads_transaksi_id_unique` (`transaksi_id`),
  KEY `leads_diinput_oleh_foreign` (`diinput_oleh`),
  KEY `leads_kavling_minat_id_foreign` (`kavling_minat_id`),
  KEY `leads_agen_id_tanggal_lead_index` (`agen_id`,`tanggal_lead`),
  KEY `leads_agen_id_tanggal_prospek_index` (`agen_id`,`tanggal_prospek`),
  KEY `leads_agen_id_tanggal_closing_index` (`agen_id`,`tanggal_closing`),
  CONSTRAINT `leads_agen_id_foreign` FOREIGN KEY (`agen_id`) REFERENCES `agens` (`id`),
  CONSTRAINT `leads_diinput_oleh_foreign` FOREIGN KEY (`diinput_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `leads_kavling_minat_id_foreign` FOREIGN KEY (`kavling_minat_id`) REFERENCES `kavlings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `leads_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads`
--

LOCK TABLES `leads` WRITE;
/*!40000 ALTER TABLE `leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembatalan_transaksis`
--

DROP TABLE IF EXISTS `pembatalan_transaksis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembatalan_transaksis` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `transaksi_id` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `reservasi_dibayar` decimal(15,2) NOT NULL DEFAULT 0.00,
  `reservasi_refund` decimal(15,2) NOT NULL DEFAULT 0.00,
  `booking_dibayar` decimal(15,2) NOT NULL DEFAULT 0.00,
  `booking_potongan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `booking_refund` decimal(15,2) NOT NULL DEFAULT 0.00,
  `pokok_dibayar` decimal(15,2) NOT NULL DEFAULT 0.00,
  `pokok_potongan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `pokok_refund` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_refund` decimal(15,2) NOT NULL DEFAULT 0.00,
  `dasar_ketentuan` text DEFAULT NULL,
  `alasan` text DEFAULT NULL,
  `kedaluwarsa` tinyint(1) NOT NULL DEFAULT 0,
  `kas_transaksi_id` bigint(20) unsigned DEFAULT NULL,
  `dibuat_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pembatalan_transaksis_transaksi_id_unique` (`transaksi_id`),
  KEY `pembatalan_transaksis_kas_transaksi_id_foreign` (`kas_transaksi_id`),
  KEY `pembatalan_transaksis_dibuat_oleh_foreign` (`dibuat_oleh`),
  CONSTRAINT `pembatalan_transaksis_dibuat_oleh_foreign` FOREIGN KEY (`dibuat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pembatalan_transaksis_kas_transaksi_id_foreign` FOREIGN KEY (`kas_transaksi_id`) REFERENCES `kas_transaksis` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pembatalan_transaksis_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembatalan_transaksis`
--

LOCK TABLES `pembatalan_transaksis` WRITE;
/*!40000 ALTER TABLE `pembatalan_transaksis` DISABLE KEYS */;
INSERT INTO `pembatalan_transaksis` VALUES (1,3,'2026-10-07',500000.00,500000.00,0.00,0.00,0.00,0.00,0.00,0.00,500000.00,NULL,'ganti kavling',0,8,1,'2026-10-07 04:26:50','2026-10-07 04:26:50');
/*!40000 ALTER TABLE `pembatalan_transaksis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayaran_tanahs`
--

DROP TABLE IF EXISTS `pembayaran_tanahs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembayaran_tanahs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `keterangan` varchar(255) NOT NULL,
  `metode` enum('tunai','transfer') NOT NULL DEFAULT 'transfer',
  `dibuat_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pembayaran_tanahs_dibuat_oleh_foreign` (`dibuat_oleh`),
  CONSTRAINT `pembayaran_tanahs_dibuat_oleh_foreign` FOREIGN KEY (`dibuat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayaran_tanahs`
--

LOCK TABLES `pembayaran_tanahs` WRITE;
/*!40000 ALTER TABLE `pembayaran_tanahs` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembayaran_tanahs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayarans`
--

DROP TABLE IF EXISTS `pembayarans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembayarans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(255) NOT NULL,
  `transaksi_id` bigint(20) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `jenis` enum('reservasi','booking','dp','angsuran','pelunasan') NOT NULL,
  `nominal` decimal(15,2) NOT NULL,
  `metode` enum('tunai','transfer','qris') NOT NULL DEFAULT 'transfer',
  `nama_penyetor` varchar(100) DEFAULT NULL,
  `bank_penyetor` varchar(60) DEFAULT NULL,
  `rekening_penyetor` varchar(40) DEFAULT NULL,
  `no_bukti` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `dibuat_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pembayarans_kode_unique` (`kode`),
  KEY `pembayarans_dibuat_oleh_foreign` (`dibuat_oleh`),
  KEY `pembayarans_transaksi_id_jenis_index` (`transaksi_id`,`jenis`),
  KEY `pembayarans_tanggal_index` (`tanggal`),
  CONSTRAINT `pembayarans_dibuat_oleh_foreign` FOREIGN KEY (`dibuat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pembayarans_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayarans`
--

LOCK TABLES `pembayarans` WRITE;
/*!40000 ALTER TABLE `pembayarans` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembayarans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaturans`
--

DROP TABLE IF EXISTS `pengaturans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengaturans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kunci` varchar(100) NOT NULL,
  `nilai` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pengaturans_kunci_unique` (`kunci`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaturans`
--

LOCK TABLES `pengaturans` WRITE;
/*!40000 ALTER TABLE `pengaturans` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengaturans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rabs`
--

DROP TABLE IF EXISTS `rabs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rabs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `periode` char(7) DEFAULT NULL,
  `kategori` varchar(255) NOT NULL,
  `pos` enum('tanah','legal_infra','marketing','cadangan','operasional') DEFAULT NULL,
  `uraian` varchar(255) NOT NULL,
  `anggaran` decimal(15,2) DEFAULT NULL,
  `realisasi` decimal(15,2) DEFAULT NULL,
  `tanggal_pengeluaran` date DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `kas_transaksi_id` bigint(20) unsigned DEFAULT NULL,
  `dicentang_oleh` bigint(20) unsigned DEFAULT NULL,
  `dicentang_pada` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `rabs_kas_transaksi_id_foreign` (`kas_transaksi_id`),
  KEY `rabs_dicentang_oleh_foreign` (`dicentang_oleh`),
  KEY `rabs_periode_index` (`periode`),
  CONSTRAINT `rabs_dicentang_oleh_foreign` FOREIGN KEY (`dicentang_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `rabs_kas_transaksi_id_foreign` FOREIGN KEY (`kas_transaksi_id`) REFERENCES `kas_transaksis` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rabs`
--

LOCK TABLES `rabs` WRITE;
/*!40000 ALTER TABLE `rabs` DISABLE KEYS */;
/*!40000 ALTER TABLE `rabs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skema_hargas`
--

DROP TABLE IF EXISTS `skema_hargas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `skema_hargas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_tahap` varchar(255) NOT NULL,
  `unit_mulai` int(10) unsigned NOT NULL,
  `unit_sampai` int(10) unsigned NOT NULL,
  `harga_per_m2` decimal(15,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skema_hargas`
--

LOCK TABLES `skema_hargas` WRITE;
/*!40000 ALTER TABLE `skema_hargas` DISABLE KEYS */;
INSERT INTO `skema_hargas` VALUES (1,'Tahap 1',0,2,500000.00,'2026-09-30 20:12:52','2026-09-30 20:12:52'),(2,'Tahap 2',3,5,550000.00,'2026-09-30 20:12:52','2026-09-30 20:12:52'),(3,'Tahap 3',6,8,600000.00,'2026-09-30 20:12:52','2026-09-30 20:12:52'),(4,'Tahap 4',9,11,650000.00,'2026-09-30 20:12:52','2026-09-30 20:12:52'),(5,'Tahap 5',12,14,700000.00,'2026-09-30 20:12:52','2026-09-30 20:12:52'),(6,'Tahap 6',15,18,750000.00,'2026-10-06 17:58:38','2026-10-06 17:59:02');
/*!40000 ALTER TABLE `skema_hargas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status_riwayats`
--

DROP TABLE IF EXISTS `status_riwayats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `status_riwayats` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `transaksi_id` bigint(20) unsigned DEFAULT NULL,
  `kavling_id` bigint(20) unsigned DEFAULT NULL,
  `jenis` enum('pembayaran','dokumen','kavling','pembatalan') NOT NULL,
  `item` varchar(20) DEFAULT NULL,
  `dari` varchar(30) DEFAULT NULL,
  `ke` varchar(30) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `waktu` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `status_riwayats_kavling_id_foreign` (`kavling_id`),
  KEY `status_riwayats_user_id_foreign` (`user_id`),
  KEY `status_riwayats_transaksi_id_waktu_index` (`transaksi_id`,`waktu`),
  CONSTRAINT `status_riwayats_kavling_id_foreign` FOREIGN KEY (`kavling_id`) REFERENCES `kavlings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `status_riwayats_transaksi_id_foreign` FOREIGN KEY (`transaksi_id`) REFERENCES `transaksi_penjualans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `status_riwayats_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status_riwayats`
--

LOCK TABLES `status_riwayats` WRITE;
/*!40000 ALTER TABLE `status_riwayats` DISABLE KEYS */;
/*!40000 ALTER TABLE `status_riwayats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_penjualans`
--

DROP TABLE IF EXISTS `transaksi_penjualans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaksi_penjualans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_transaksi` varchar(255) NOT NULL,
  `tanggal` date NOT NULL,
  `batas_tahan` datetime DEFAULT NULL,
  `status` enum('menunggu','reservasi','booking','dp','angsuran','lunas','batal') NOT NULL DEFAULT 'menunggu',
  `konsumen_id` bigint(20) unsigned NOT NULL,
  `kavling_id` bigint(20) unsigned NOT NULL,
  `agen_id` bigint(20) unsigned DEFAULT NULL,
  `skema_harga_id` bigint(20) unsigned DEFAULT NULL,
  `luas` decimal(10,2) NOT NULL,
  `harga_per_m2` decimal(15,2) NOT NULL,
  `jenis_pembayaran` enum('cash','angsuran') NOT NULL DEFAULT 'cash',
  `nilai_jual` decimal(15,2) NOT NULL,
  `biaya_reservasi` decimal(15,2) NOT NULL DEFAULT 0.00,
  `biaya_booking` decimal(15,2) NOT NULL DEFAULT 0.00,
  `tenor` int(10) unsigned DEFAULT NULL,
  `nominal_dp` decimal(15,2) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `tanggal_batal` date DEFAULT NULL,
  `alasan_batal` text DEFAULT NULL,
  `dibuat_oleh` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `kavling_aktif_id` bigint(20) unsigned GENERATED ALWAYS AS (if(`status` <> 'batal',`kavling_id`,NULL)) STORED,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaksi_penjualans_kode_transaksi_unique` (`kode_transaksi`),
  UNIQUE KEY `transaksi_kavling_aktif_unique` (`kavling_aktif_id`),
  KEY `transaksi_penjualans_agen_id_foreign` (`agen_id`),
  KEY `transaksi_penjualans_konsumen_id_foreign` (`konsumen_id`),
  KEY `transaksi_penjualans_kavling_id_foreign` (`kavling_id`),
  KEY `transaksi_penjualans_skema_harga_id_foreign` (`skema_harga_id`),
  KEY `transaksi_penjualans_dibuat_oleh_foreign` (`dibuat_oleh`),
  CONSTRAINT `transaksi_penjualans_agen_id_foreign` FOREIGN KEY (`agen_id`) REFERENCES `agens` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transaksi_penjualans_dibuat_oleh_foreign` FOREIGN KEY (`dibuat_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transaksi_penjualans_kavling_id_foreign` FOREIGN KEY (`kavling_id`) REFERENCES `kavlings` (`id`),
  CONSTRAINT `transaksi_penjualans_konsumen_id_foreign` FOREIGN KEY (`konsumen_id`) REFERENCES `konsumens` (`id`),
  CONSTRAINT `transaksi_penjualans_skema_harga_id_foreign` FOREIGN KEY (`skema_harga_id`) REFERENCES `skema_hargas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_penjualans`
--

LOCK TABLES `transaksi_penjualans` WRITE;
/*!40000 ALTER TABLE `transaksi_penjualans` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_penjualans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','agen') NOT NULL DEFAULT 'admin',
  `agen_id` bigint(20) unsigned DEFAULT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `terakhir_masuk` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_agen_id_unique` (`agen_id`),
  CONSTRAINT `users_agen_id_foreign` FOREIGN KEY (`agen_id`) REFERENCES `agens` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Administrator','admin@tectona.test',NULL,'$2y$12$YL6sse92GB4IF2N59SqHNehupWeE9ahS4/CQrv2Uh01Nz/1IL.RMO','admin',NULL,1,'2026-10-07 05:57:04',NULL,'2026-09-30 20:12:52','2026-10-07 05:57:04'),(2,'yaa','khaliszaldifr07@gmail.com',NULL,'$2y$12$qGG5RvpmOGsx9usS9lWHTOm/uj8MyX1pWFy31aYDb9dBIBXBu3GKi','agen',1,1,'2026-10-01 14:31:24',NULL,'2026-10-01 14:30:55','2026-10-07 05:24:43'),(3,'zize','azzalghani21@gmail.com',NULL,'$2y$12$sNjTzxsNvm0JMFNDhBcYKeNP9CS7QKjHwtmz1Oqsl3EAhK7PNuJxy','agen',2,1,'2026-10-07 06:01:58',NULL,'2026-10-07 05:31:26','2026-10-07 06:01:58');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-07 14:05:45
